.print-area {
  background: repeating-linear-gradient(
    rgba(255, 255, 255, 0.842),
    rgb(255, 255, 255) 10px,
    #cccccc1e 17px
  );
  /* overflow: auto; */
}

@media print {
    body * {
      visibility: hidden;
    }
    .print-text{
      /* text-align: left; */
      top: var(--dynamic-margin, 15);
      width: 450px;
      margin-left: -225px;
      /* justify-content: center; */
      /* margin-top: 0px; */
      position: absolute;
    }
    
    .print-text span{
      
      display: flex;
      justify-content: right;
      /* justify-content: space-evenly; */
      /* margin-top: -110px; */
      /* margin-top: var(--dynamic-margin, -410px); */
      visibility: visible;
      padding: 0 15px 0  0;
      font-size: 12px;
      font-weight: 400;
    }

    .print-text span:nth-child(1){
      padding-right: 36px;
    }

    .print-text span:nth-child(4){
      margin-right: 15px;
    }
    /* Hide default browser headers and footers */
    @page {
      margin: 0;
    }
  }
